<section class="text-black bg-black h-screen w-screen text-center relative overflow-hidden flex flex-col items-center justify-between pt-40 py-20">
    <header class="relative z-10 flex flex-col">
        <h2 class="text-5xl font-medium pb-4">Model 3</h2>
        <p class="text-base underline">Starting at $32,740</p>
        <p class="text-base">After Federal Tax Credit</p>
    </header>
    <footer class="relative z-10 flex flex-nowrap justify-end gap-4">
        <a class="font-medium cursor-pointer rounded p-2 px-20 flex items-center bg-gray-700 text-white hover:bg-gray-600 transition-colors" href="#">Order Now</a>
        <a class="font-medium cursor-pointer rounded p-2 px-20 flex items-center bg-gray-200 text-gray-800 hover:bg-white hover:text-black transition-colors" href="#">Demo Drive</a>
    </footer>
    <div class="absolute top-0 bottom-0 h-full w-full">
        <img
            class="object-cover object-center h-full w-full"
            src="/public/Homepage-Model-3-Desktop-LHD.avif"
        >
        </img>
    </div>
</section>