<section class="text-white bg-black h-screen w-screen text-center relative overflow-hidden flex flex-col items-center justify-between pt-40 py-20">
    <header class="relative z-10 flex flex-col gap-3">
        <h2 class="text-5xl font-medium">Disfrute de Tesla</h2>
        <p class="text-base">Programe una prueba de conducción hoy mismo</p>
    </header>
    <footer class="relative z-10 flex flex-nowrap justify-end ">
        <a class="font-medium border-4 border-white cursor-pointer rounded p-2 px-20 hover:bg-white hover:text-black transition-colors backdrop-blur-sm" href="#">Prueba de Conducción</a>
    </footer>
    <div class="absolute top-0 bottom-0 h-full w-full">
        <video
            class="object-cover object-center h-full w-full"
            autoplay
            muted
            loop
            src="/public/Video.webm"
        >
        </video>
    </div>
</section>